#athos-content, #athos-sidebar, .ss__autocomplete {
	div:empty {
		display: block;
	}
}

body.ss__loaded--no-results {
	.facets-vertical {
		display: block;
	}
}

.ss__scrollbar {
	overflow-y: auto;
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	&::-webkit-scrollbar-track {
		background-color: #f8f8f8;
		border-radius: 4px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #ccc;
		border-radius: 4px;
	}
}